[Unit]
Description=Dictionary Spanish - English
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/bot_dictionary/bot_dictionary.py >> /home/pi/bot_dictionary/bot.log 2>&1
User=pi

[Install]
WantedBy=multi-user.target
